/*

Theme Name: Spectrum
Theme URI: http://spectrum-theme.com/
Description: A beautiful and colorful Wordpress Theme designed by Ignacio Ricci , Translated into Farsi by <a href="http://www.90theme.co.cc">90theme.co.cc</a>
Version: 1.0.1
Author: Ignacio Ricci
Tags: blue, green, orange, pink, purple, red, silver, white, light, two-columns, fixed-width, threaded-comments

*/

/*-----------------------------------------------------------------------------------------------*/

/*- Reset Styles -----------------------------------------------------------*/
	
	
		html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, 
		cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, 
		ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr, button
		{margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align: baseline; background:transparent;}
		
		ol, ul {list-style:none;}
		h1, h2, h3, h4, h5, h6, li {line-height:100%;}
		blockquote, q {quotes:none;}
		table {border-collapse:collapse; border-spacing:0;}
		

/*- End Reset Styles -------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- General Styles ---------------------------------------------------------*/


		body {font:100% tahoma , sans-serif; background:#EEE url(images/bgs/body.jpg) no-repeat center top;}
		
			
			/*- Screen Size Limit -*/
			#header,
			#mainWrap,
			#footer-warper {width:1000px; margin:0 auto;}
			
			/*- Links -*/
			a {text-decoration:none;}
			a:hover {text-decoration:underline;}
			#siteDescription a:hover {text-decoration:none;}
		
			/*- Special Fonts -*/
			#siteDescription h2,
			.mainTitle,
			.post h4,
			.post blockquote,
			.sidebarTitle h4,
			.sidebarBox li,
			#content-Bottom li {font-family:arial, Georgia, serif;}
				
			/*- Sprite Load -*/
			.postShare a,
			.leftFold,
			.rightFold,
			.pointer,
			.replyLink a,
			#subscribe a,
			#searchBox button,
			#searchBox input.btn,
			#commentForm button,
			#navigation a,
			#codeIsPoetry {display:block; background-image:url(images/sprite.png);}
			
			/*- Text Hide -*/
			#subscribe a,
			.postShare a,
			#searchBox button,
			#searchBox input.form-submit,
			#commentForm button,
			.replyLink a,
			#navigation a,
			#codeIsPoetry {font-size:0; text-indent:-0em;}
			
			/*- Rounded corners -*/
			#header .pageList a,
			div.comment,
			div.pingback {-moz-border-radius:5px; -webkit-border-radius:5px;}
			
			/*- Sub Titles -*/
			.subTitle {margin-bottom:30px; position:relative; clear:both;}
				.subTitle h4 {display:block; font-weight:normal; font-size:20px; text-transform:uppercase; line-height:130%; padding:11px 0 10px 95px;}
			
			/*- Float Clears -*/
			#header,
			.commentAuthorAndDate,
			#commentList li,
			.comment-published,
			.replyLink,
			.comment .links,
			#navigation,
			#content-Bottom ul,
			#footer-warper .footer ul {overflow:hidden;}
			
			/*- Accesible labels -*/
			.accesible {width:1px; height:1px; position:absolute; top:0; left:-0px; overflow:hidden;}
			
			/*- Fields on focus -*/
			.fieldFocus {color:#000 !important; border-color:#CCC !important; border-bottom:1px solid #999 !important;overflow:hidden;}
			
			/*- Buttons -*/
			#searchBox button,
			#searchBox input.form-submit,
			#commentForm button {display:inline; height:32px; cursor:pointer;}
			
			/*- Corrections for different pages -*/
			body.archive .post {padding-bottom:0;}
			
		
/*- End General Styles -----------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Unsemantic design elements added via JS (spectrum-min.js) --------------*/


			.leftFold,
			.rightFold,
			.edge,
			.pointer {position:absolute; z-index:1;}
			
			/*------------------------------------------*/
			/* PAPER FOLDINGS 							*/
			/*------------------------------------------*/
			
			.leftFold,
			.rightFold {width:29px; height:29px; bottom:-30px;}
			.leftFold {left:0;}
			.rightFold {right:0;}
			
			.subTitle .leftFold,
			.subTitle .rightFold {bottom:-29px;}
			
			.mainTitle .leftFold {background-position:0 -66px;}
			#commentList .subTitle .leftFold {background-position:-30px -66px;}
			#commentForm .subTitle .leftFold {background-position:-60px -66px;}
			.rightFold {background-position:-120px -66px;}
			#content-Bottom .subTitle .leftFold {background-position:-90px -66px;}
			
			/*------------------------------------------*/
			/* MAIN AND SIDEBAR TITLE'S IRREGULAR EDGES	*/
			/*------------------------------------------*/
			
			.edge {width:11px; height:55px;}
			.mainTitle .edge {background:url(images/bgs/post/main-title-edge.gif) no-repeat 0 0; top:0; right:-11px;}
			.sidebarTitle .edge {left:-11px; bottom:-1px; background:url(images/bgs/sidebar/sidebar-title-edge.gif) no-repeat 0 0;}
			
			/*------------------------------------------*/
			/* COMMENT-BOX ARROW POINTER				*/
			/*------------------------------------------*/	
			
			.pointer {width:8px; height:16px; background-position:-150px -66px; top:14px; left:-1px;}
			div.comment-author-admin .pointer,
			div.bypostauthor .pointer {background-position:-159px -66px;}
			

/*- End Unsemantic design elements added via JS (spectrum-min.js) ----------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Header -----------------------------------------------------------------*/


		#header {padding-bottom:5px;}
			/*- Top Menu -*/
			#header .pageList {float:right; width:440px; padding-top:10px;}	
				#header .pageList li {float:right; margin-left:5px;}
				#header .pageList a {display:block; font-size:0.8em; font-weight:bold; text-transform:uppercase; color:#FFF; padding:5px 10px; margin-bottom:5px; background:#333;}
				#header .pageList a:hover {text-decoration:none;}
							
			/*- Subscribe -*/
			#header #subscribe {float:left; padding:10px 20px 0px 5px;}
				#header #subscribe a {width:26px; height:26px; background-position:-172px -42px;}
				#header #subscribe a:hover {background-position:-172px -69px;}


/*- End Header -------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Main Content -----------------------------------------------------------*/


		#mainWrap {background:url(images/bgs/mainWrap.gif) repeat-y center top;}

			#main {color:#333; background:url(images/bgs/main.jpg) no-repeat center top;}
				
				#content,
				#sidebar {margin-top:30px;}
			
				/*- The content (Left column) -*/
				#content {float:left; width:660px;}
				
				/*- The sidebar (Right column) -*/
				#sidebar {float:right; width:300px;}
			

/*- End Main Content -------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Site Description -------------------------------------------------------*/

	
		#siteDescription {padding:25px 65px; background:url(images/bgs/siteDescription.png) no-repeat center bottom;}
				#siteDescription h2 {font-size:1.3em; font-weight:normal; line-height:150%; color:#666; text-shadow:1px 1px #FFF;}
			

/*- End Site Description ---------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- The Post ---------------------------------------------------------------*/


		.post {float:left; width:100%; clear:both; padding-bottom:40px;}
		
			.postMeta {float:right; width:575px; font-size:0.8em; text-transform:uppercase; color:#999; padding:10px 15px; margin-left:55px; border-bottom:1px solid #DDD;font-family:tahoma;}
				.postMeta p,
				.postMeta li {float:right;}
				.postMeta p {padding-right:25px;}
				.postMeta a {line-height:130%; color:#999;}
				.postMeta a:hover {color:#666;}
				
			/*------------------------------------------*/
			/* POST TITLE								*/
			/*------------------------------------------*/
			
			.mainTitle {padding:7px 0 9px 65px; background:#6AB32E url(images/bgs/post/main-title.png) no-repeat 0 0; border-bottom:1px solid #5A962F; position:relative;}
				
				/*- Post Name -*/
				.mainTitle h3,
				.mainTitle h3 a {color:#FFF;}
				.mainTitle h3 {font:bold 1.9em arial; line-height:130%; text-shadow:1px 1px #5A962F; margin-left:100px; margin-right:10px;}	
				
				/*- Date -*/
				.postDate {font-size:18px; letter-spacing:-0.05em; text-shadow:1px 1px #84C050; position:absolute; top:13px; left:15px;}
					.postDate span {margin-left:3px;}
					.month {color:#447223;}
					.day {color:#51892A;}
					.year {color:#59962E;}
			
			/*------------------------------------------*/
			/* POST IMAGE (CUSTOM FIELD)				*/
			/*------------------------------------------*/
			
			.postImage {margin-left:55px;}
				.postImage img {display:block; padding:1px; margin:10px 0 3px; border:1px solid #CCC;}	
				
			/*------------------------------------------*/
			/* POST INFO (AUTHOR + COMMENT AMOUNT)		*/
			/*------------------------------------------*/		
			
			.author {background:url(images/icons/author.gif) no-repeat right center;}
			.commentNumber {float:left !important; background:url(images/icons/bubble.gif) no-repeat right center;}
				.commentNumber a {color:#6F95D7;}
			
			/*------------------------------------------*/
			/* POST TEXT								*/
			/*------------------------------------------*/
			
			.entry {clear:both; padding:30px 30px 15px 70px;font-family:tahoma;}
					
				.entry h4,
				.entry h5,
				.entry h6,
				.entry ul,
				.entry ol,
				.entry blockquote {margin:5px 0 30px;}
				
				.entry p,
				.entry li {font-size:0.95em;}
								
				.entry p {line-height:145%; padding-bottom:20px;}	
						
				.entry a {text-decoration:underline; color:#AC6C13;}
				.entry a:hover {color:#000;}
				.entry a:visited {color:#666;}			
				
				.entry ul li,
				.entry ol li {line-height:130%; margin:0 0 7px 25px;}
				.entry ul li {list-style:url(images/icons/bullet.gif);}
				.entry ol li {list-style:lower-roman;}
				
				.entry h3.result {font:bold 22px arial; line-height:130%; position:relative;}
				.entry h4 {font-size:1.3em; font-weight:normal; text-transform:uppercase; color:#8279AD; padding:5px 0 5px 10px; margin-top:10px; border-bottom:1px solid #D8D8FF; 
				position:relative; left:-10px; line-height:120%;}
				.entry h5 {text-transform:uppercase;}
			
				.entry img {max-width:600px;}
				
				.entry blockquote {font-size:1.2em; font-style:italic; padding:10px 20px 0; border-right:5px solid #E5E6E2;}
					.entry blockquote p {line-height:130%;}
					
				.aligncenter {display:block; margin:0 auto;}
				.alignleft {float:left;}
				.alignright {float:right;}

									
								

/*- End The Post -----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Comment List -----------------------------------------------------------*/		
				

		#commentList {clear:both; padding:30px 0 50px;}
		
			#commentList li, .comment-published {clear:both; padding:20px 10px 5px 65px;}			
											
				.avatarHolder,
				div.comment,
				div.pingback {float:left;}
				
				/*------------------------------------------*/
				/* TITLE									*/
				/*------------------------------------------*/
						
				.comment-folded .subject {background:url(images/bgs/comments/commentList-title.jpg) repeat-y 0 0;}
				#commentList .subTitle {background:url(images/bgs/comments/commentList-title.jpg) repeat-y 0 0;}
					#commentList .subTitle .subTitleBorder {background:url(images/bgs/comments/commentList-title-border.jpg) no-repeat 0 100%;}	
						#commentList .subTitle h4 {color:#648CCC; text-shadow:1px 1px #E6EFFC; background:url(images/icons/bubble-title.gif) no-repeat 65px 12px;}		
			
				/*------------------------------------------*/
				/* AVATAR									*/
				/*------------------------------------------*/
				
				.avatarHolder {width:61px; height:52px; margin:7px 5px 0 0; background:url(images/bgs/comments/avatar.gif) no-repeat 0 0; position:relative;}
					.avatarHolder img {margin:2px 11px 0 0px;}
					
				/*------------------------------------------*/
				/* COMMENT BOX								*/
				/*------------------------------------------*/
				
				div.comment,
				div.pingback {padding:15px 15px 0; border:1px solid #EBEBEB; position:relative;}
			
					.commentDate,
					.commentText {font-size:0.84em;}
					
					/*- Author and Date -*/
					.commentAuthorAndDate {padding:0 10px 10px; border-bottom:1px solid #EBEBEB;}
						.commentAuthor em {color:#999;}
						.commentAuthor {float:right;}
						.commentAuthor a {color:#333;}
						.commentDate {float:left;}
						.commentDate a {color:#CCC;}
						.commentDate a:hover {color:#666;}
					
					/*- Comment text -*/
					.commentText {padding:10px;}
						.commentText p {line-height:130%; padding-bottom:10px;}
						.commentText a {color:#000;}
				
				/*------------------------------------------*/
				/* COMMENT DEPTH							*/
				/*------------------------------------------*/
				
				#commentList .children {clear:both;}
				
				#commentList div.comment {width:80%;}
				
					
					
				/*------------------------------------------*/
				/* PINGBACK									*/
				/*------------------------------------------*/
				
				#commentList li.pingback .avatarHolder {display:none;}
							
				/*------------------------------------------*/
				/* ADMIN COMMENT							*/
				/*------------------------------------------*/
						
				#commentList div.comment-author-admin,
				#commentList div.bypostauthor,
				#commentList div.comment-author-admin .commentAuthorAndDate,
				#commentList div.bypostauthor .commentAuthorAndDate {border-color:#DDD;}
				
				#commentList div.comment-author-admin,
				#commentList div.bypostauthor {background:#EBEBEB url(images/bgs/comments/admin.jpg) repeat-x 0 0;}
					#commentList div.comment-author-admin .commentAuthorAndDate,
					#commentList div.bypostauthor .commentAuthorAndDate {text-shadow:1px 1px #FFF;}
					#commentList div.comment-author-admin .replyLink a,
					#commentList div.bypostauthor .replyLink a {background-position:-172px -21px;}
					
					
				/*------------------------------------------*/
				/* REPLY LINK								*/
				/*------------------------------------------*/
				
				.replyLink, .comment .links { padding-bottom:0 !important; display:none; height:40px;}
					.replyLink a {float:left; width:47px; height:20px; background-position:-172px 0;}
				.comment ul.links {float:right;}
				#commentList div.comment div.commentText ul.links li {
						clear:none;
						float:right; 
						border-radius: 15px 5px 15px 5px;
						margin: 5px 0 5px 5px;
						padding: 0 5px;
						width: auto;
						border: 1px solid #DDDDDD;
						color: #999999;
						font-family: tahoma,inherit;
						font-size: 1em;
						padding: 8px 10px;
				}
   			#commentList div.comment div.commentText ul.links li a:hover{
					text-decoration:none;
				}

				/*------------------------------------------*/
				/* WAITING FOR MODERATION					*/
				/*------------------------------------------*/
				.waiting4Mod {font-style:italic; color:#E26F5A;}
				
				/*------------------------------------------*/
				/* EDIT COMMENT								*/
				/*------------------------------------------*/
				.editComment {text-align:right;}
					.editComment a {font-size:0.8em; font-weight:bold; text-transform:uppercase; color:#8F3A2C;}
					
				/*------------------------------------------*/
				/* CANCEL REPLY + LOGGED IN OPTIONS			*/
				/*------------------------------------------*/
				.cancel-comment-reply,
				.logged-in-as {font-size:0.9em;}
					.cancel-comment-reply a,
					.logged-in-as a {color:#AC6C13;}
				
		
/*- End Comment List -------------------------------------------------------*/															
/*-----------------------------------------------------------------------------------------------*/

/*- Comment Form -----------------------------------------------------------*/


		#commentForm, .commentList .box{ padding: 50px 50px 50px 0;}
			
			/*- Title -*/
			#commentForm .subTitle {background:url(images/bgs/comments/commentForm-title.jpg) repeat-y 0 0;}
				#commentForm .subTitle .subTitleBorder {background:url(images/bgs/comments/commentForm-title-border.jpg) no-repeat 0 100%;}
				#commentForm .subTitle h4 {color:#C09104; text-shadow:1px 1px #FBEECA; background:url(images/icons/pencil.gif) no-repeat 65px 11px;}

			/*- user signature -*/
			.user-signature { color:#999999; margin-top:20px; border-top:1px solid #DDD; }
	

			/*- Form elements -*/
			#commentForm p {padding:0 0 15px 65px;}	
			#commentForm label {display:block; font-size:0.8em; text-transform:uppercase; color:#999; padding-bottom:3px;}
			#commentForm input,
			#commentForm textarea {width:380px; font-family:tahoma,inherit; font-size:1em; color:#999; padding:8px 10px; border:1px solid #DDD;}
			#commentForm textarea {font-size:0.9em; height:170px; overflow:auto;}
			#commentForm button {width:128px; background-position:-43px 0;}
			#commentForm button.hoverBtn {background-position:-43px -33px;}
			#commentForm input#edit-preview, #comment-form input#edit-submit {width:auto; padding:5px; margin:5px 0 5px 0px; border-radius: 15px 5px 15px 5px;}
			

/*- End Comment Form -------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Sidebar ----------------------------------------------------------------*/


		.sidebarBox {padding-bottom:30px;}
						
			/*------------------------------------------*/
			/* TITLES									*/
			/*------------------------------------------*/		
			.sidebarTitle {background:url(images/bgs/sidebar/sidebar-title.jpg) repeat-y 100% 0; border-bottom:1px solid #E0E0DF; position:relative;}
				.sidebarTitle h4 {font:bold 22px arial; text-transform:uppercase; color:#7F7F7F; text-shadow:1px 1px #FFF; padding:16px 25px 12px 15px; margin-bottom:5px;}		
				.sidebarBox a:hover {text-decoration:none;}
			
			/*------------------------------------------*/
			/* LINK LISTS								*/
			/*------------------------------------------*/		
			.sidebarBox ul {margin-right:50px;}
				.sidebarBox li a {display:block; font:normal 13px tahoma; line-height:130%; color:#999; padding:14px 40px 14px 14px; border-bottom:1px solid #DDD;}
				.sidebarBox li.last a {border:0;}
				
			/*------------------------------------------*/
			/* SEARCH BOX								*/
			/*------------------------------------------*/	
			#searchBox {}
				#searchBox p {padding:20px 50px 0 10px;}

				#searchBox .container-inline {padding:20px 50px 0 10px;}
				#searchBox input.form-text {font-size:1em; font-family:tahoma; width:165px; color:#999; padding:5px; margin-right:5px; background:#FFF; border:1px solid #DDD;}	
				#searchBox button, #searchBox input.form-submit {
					position: relative;
					top: -5px;
					width: 42px;
					background: none;
					border: none;
					background-image: url("images/search-button.png");
				}
				#searchBox button, #searchBox input.form-submit:hover {
					background: none;
					border: none;
					background-image: url("images/search-button-hover.png");
				}
				#searchBox .form-item label {
					font-size:0;
				}
						
			/*------------------------------------------*/
			/* CATEGORY BOX								*/
			/*------------------------------------------*/
			#categoryBox {}
				#categoryBox a {background:url(images/icons/folder-sidebar.gif) no-repeat 200px 0;}
				#categoryBox a:hover {color:#B95050; border-color:#E3CBC4;}
				
				
			/*------------------------------------------*/
			/* BLOGROLL BOX								*/
			/*------------------------------------------*/	
			#blogrollBox {}
				#blogrollBox a {background:url(images/icons/arrow-sidebar.gif) no-repeat -30px 0;}
				#blogrollBox a:hover {color:#73B73A; border-color:#D5E9C4;}	
				
			/*------------------------------------------*/
			/* LINKS ON HOVER							*/
			/*------------------------------------------*/	
			#categoryBox a:hover,
			#recentPostsBox a:hover,
			#recentCommentsBox a:hover, 
			#archivesBox a:hover {background-position:-46px 0;}
			#blogrollBox a:hover {background-position:216px 0;}
				

/*- End Sidebar ------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/



/*- Navigation -------------------------------------------------------------*/

		
		#navigation {clear:both; padding:28px 55px 0; border-top:3px solid #EEE;}
		
			#navigation a {height:34px;}
			
			/*- Previous Page Link -*/
			#prevPage {float:left;}		
				#prevPage a {width:139px; background-position:-221px 0;}
				#prevPage a:hover {background-position:-221px -35px;}
			
			/*- Next Page Link -*/
			#nextPage {float:right;}
				#nextPage a {width:110px; background-position:-231px -70px;}
				#nextPage a:hover {background-position:-231px -105px;}


/*- End Navigation ---------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- content bottom --------------------------------------------------------------*/

		
		#content-Bottom {clear:both; padding-top:30px;}
			
			/*- Title -*/
			#content-Bottom .subTitle {background:url(images/bgs/content-Bottom/content-Bottom-title.jpg) repeat-y 0 0;}
				#content-Bottom .subTitle .subTitleBorder {background:url(images/bgs/content-Bottom/content-Bottom-title-border.jpg) no-repeat 0 100%;}
				#content-Bottom .subTitle h4 {color:#999; text-shadow:1px 1px #FFF; background:url(images/icons/tag-title.gif) no-repeat 945px 11px;padding-right:80px;}
						
			/*- The content list -*/
			#content-Bottom ul {padding:0 20px 50px; margin:0 30px; background:url(images/bgs/content-Bottom/zig-zag.gif) repeat-x left bottom;}			
			#content-Bottom .content {padding:0 20px 50px; margin:0 30px;}
				#content-Bottom li {float:right; text-transform:capitalize; padding:15px 10px 0 0px;}
				#content-Bottom a {font-size:0.8em; color:#CD5550;}
					
					#content-Bottom .tagSize-1 a {font-size:1.8em; color:#4C80FE;}
					#content-Bottom .tagSize-2 a {font-size:1.4em; color:#1AA4E1;}
					#content-Bottom .tagSize-3 a {font-size:1.2em; color:#5AAD97;}
					#content-Bottom .tagSize-4 a {font-size:1em; color:#B3A40C;}
					#content-Bottom .tagSize-5 a {font-size:0.9em; color:#D79017;}
									
				/*- Divider -*/
				#content-Bottom .divider {float:none; clear:both; width:100%; height:1px; padding:15px 0 0 0; border-bottom:1px solid #DDD;}
				#content-Bottom .divider.last {border:0;}	


/*- End content bottom ----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Bottom page background -------------------*/
		.page-Bottom {
			 margin: 0 30px;
			 height:20px;
			 background:url(images/bgs/content-Bottom/zig-zag.gif) repeat-x left bottom;
		}

/*- Footer -----------------------------------------------------------------*/


		#footer-warper {font-size:0.75em; color:#999; padding:20px 0 60px;}
		
			#footer-warper .footer,
			#footer-message {padding:10px 20px; margin:0 50px;}
			
				#footer-warper a {color:#999;}
				#footer-warper a:hover {color:#666;}
		
			/*- Footer page list -*/	
			#footer-warper .footer {padding-bottom:5px;}
				#footer-warper .footer {float:right; line-height:180%; padding-right:10px;font-family:tahoma;}
		
			/*- FooterMessage -*/
			#footer-message {
				border-top:1px solid #DDD;
				float:right; 
				width:860px;
				text-align:right;
    		margin-bottom: 20px;}


/*- End Footer -------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

pre , code {overflow:auto;border:1px solid #ccc;}
